html,body
{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    width: auto;
}
.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	width: auto;
}

/* Navigation Bar */
.navbar {
	font-size: 150%;
}


/* Jumbotron and Header */

h1.header-title {
  font-weight: 500;
  text-align: center;
  line-height: 1.2;
  font-size: 100px;
}

.jumbotron {
	background-image: url("../media/background.jpg");
	background-size: cover;
	background-position: center;
	text-align: center;
	color: white;
	padding-top: 10rem;
	padding-bottom: 10rem;
}


/* About Me */

.col-md-6.about-me.text-center {
	position: relative;
	margin: 0px auto;
	text-align: center;
}

.tag-header {
	margin-top: 50px;
	margin-bottom: 0px;
	text-align: center;
	color: mediumslateblue;
	font-size: 350%;
}

.about-text {
	margin-top: 8px;
}


.about {
	height: 600px;
}


/* Experience */
.experience {
	padding-top: 50px;
	padding-bottom: 200px;
	background-color: lightslategray;
	color: white;
	display: flex;
	flex-wrap: wrap;
	height: 300px;
}

.tag-black {
	font-size: 350%;

}

.btn {
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	padding-right: 0.75rem;
	padding-left: 0.75rem;
}

#expbtn {
	margin-left: 130px;
}

/* Contact */
.contact {
	padding-top: 50px;
	padding-bottom: 200px;
	display: flex;
	flex-wrap: wrap;
	height: 250px;
}


